<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color:#00032A;height: 120vh;">
            <div>
                <mat-card class="mt-3">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Task Name</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="item">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Add a Task Name</mat-hint>

                        </mat-form-field>
                        <button *ngIf="!isEditEnabled" (click)="addTask()" [disabled]="todoForm.invalid"
                            mat-raised-button color="primary">Add</button>
                        <button *ngIf="isEditEnabled" (click)="updateTask()" [disabled]="todoForm.invalid"
                            mat-raised-button color="primary">Update</button>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-4">
                        <!-- to-do -->
                        <div class="example-container">
                            <h2 class="hed-title" id="hed-title-1">TO-DO <span *ngIf="task.length > 0"> - {{task.length}}</span></h2>
                            <div cdkDropList [cdkDropListData]="task" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of task; let i = index" cdkDrag>
                                    {{item.description}}
                                    <div class="box">
                                        <button mat-icon-button color="warn" (click)="deleteTask(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary" (click)=" onEdit(item,i)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2 class="hed-title" id="hed-title-2">INPROGRESS <span *ngIf="inprogress.length > 0"> -
                                    {{inprogress.length}}</span></h2>
                            <!-- inprogress -->
                            <div cdkDropList [cdkDropListData]=" inprogress" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of  inprogress; let i = index" cdkDrag>
                                    {{item.description}}
                                    <button mat-icon-button color="warn" (click)="  deleteInprogressTask(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2 class="hed-title" id="hed-title-3">DONE <span *ngIf="Done.length > 0"> - {{Done.length}}</span></h2>
                            <!-- done -->
                            <div cdkDropList [cdkDropListData]="Done" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of Done;  let i = index" cdkDrag>
                                    {{item.description}}
                                    <div class="box">
                                        <button mat-icon-button color="warn" (click)="deleteDoneTask(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        